* {
  margin: 0;
}
.header {
  display: flex;
  justify-content: space-between;
  background-color: rgb(50, 167, 145);
  width: 100%;
  height: 60px;
}
.trybewarts-login {
  display: flex;
  align-items: center;
  height: 30px;
  justify-content: center;
  align-self: center;
}
.header h1 {
  align-self: center;
}
.main-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.house-email {
  display: flex;
  align-items: center;
}
#evaluation-form {
  display: flex;
  flex-direction: column;
  width: 675px;
}
#input-lastname {
  margin: 5px;
}
#input-name {
  margin: 5px;
}
#input-email {
  margin: 5px;
  display: flex;
}
label{
  margin: 5px;
}
#trybewarts-forms-logo {
  display: flex;
  align-self: flex-end;
  max-width: 40%;
  height: 500px;
}
