* {
  margin: 0;
}


label {
  margin: 5px;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: rgb(50, 167, 145);
  width: 100%;
  height: 60px;
}

.trybewarts-login {
  display: flex;
  align-items: center;
  height: 30px;
  justify-content: center;
  align-self: center;
}

.header h1 {
  align-self: center;
}

.main-form {
  display: flex;
  /* align-items: center; */
  justify-content: space-around;
}

.house-email {
  display: flex;
  align-items: center;
}


#input-lastname {
  margin: 5px;
}

#input-name {
  margin: 5px;
}

#input-email {
  margin: 5px;
  display: flex;
}

#evaluation-form {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 675px;
}

#trybewarts-forms-logo {
  height: 500px;
}

#label-content {
  display: flex;
}

/* #submit-btn {
  
} */
