* {
  margin: 0;
}

hr {
  margin: 10px;
}

label {
  margin: 5px;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: rgb(50, 167, 145);
  width: 100%;
  height: 60px;
}

.footer {
  margin-bottom: 0;
  background-color: rgb(50, 167, 145);
  width: 100%;
  height: 60px;
  text-align: center;
  font-size: larger;
  color: antiquewhite;
}

.trybewarts-login {
  display: flex;
  align-items: center;
  height: 30px;
  justify-content: center;
  align-self: center;
}

.header h1 {
  align-self: center;
}

.main-form {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 5px;
  text-align: center;
}

#evaluation-form {
  display: flex;
  flex-direction: column;
  width: 675px;
  align-content: space-around;
}

.first-input {
  display: flex;
  justify-content: space-between;
}

#input-name {
  margin: 5px;
  width: 50%;
}

#input-lastname {
  margin: 5px;
  width: 50%;
}

.house-email {
  display: flex;
  justify-content: space-between;
}

#input-email {
  margin: 5px;
  width: 50%;
}

#house {
  margin: 5px;
  width: 50%;
}

.family-radio {
  display: flex;
}

.label-family {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}

#label-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#trybewarts-forms-logo {
  height: 500px;
}

#label-content {
  display: flex;
}

#text-area {
 margin: 10px;
}
